@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth !important;
}

body {
	background: #171717;
	overflow-x: hidden;
}
/* #444444 */

.h1-text {
	@apply text-white text-4xl lg:text-6xl font-extrabold;
}
.description-text {
	@apply text-[#adb7be] text-base lg:text-xl;
}

.btn {
	@apply px-6 py-3 rounded-full cursor-pointer;
}

.card-bg {
	@apply bg-[#444444] rounded-3xl border border-[#3a3a3a];
}

.text-gradient {
	@apply text-transparent bg-clip-text bg-gradient-to-br from-pink-800 via-purple-500 to-violet-800;
}

.bg-gradient {
	@apply bg-gradient-to-br from-pink-800 via-purple-500 to-violet-800;
}

.input {
	@apply font-medium text-lg text-gray-100 border-2 border-gray-800 rounded-xl p-3 bg-[#313131]  focus:outline-none focus:ring focus:ring-purple-800;
}

.CardPage {
	@apply min-h-screen w-full mb-16 px-10 mt-[140px] flex justify-center items-center;
}
